body{
    background-color: black;
}
img{
    height: 300px;
    width: 460px;
    margin-top: 15%;
}
h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
}
h2{
    color: white;
    text-transform: capitalize;
    text-align: center;
}
div{
    text-align: center;
}
p{
    text-align: center;
}